/* ----- import font + resets -----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* ----- header -----*/
.navbar {
	margin: 2rem;
}

.navbar-brand p {
	font-size: 1.4em;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-brand span {
	font-weight: 400;
}

.navbar-brand img {
	width: auto;
	height: 40px;
	margin-top: -0.4rem;
}

.navbar ul {
	display: flex;
	list-style: none;
}
.nav-item p {
	color: #495464;
	margin-top: -0.7rem;
	padding-left: 20px;
	font-size: 1.2em;
}

form {
	margin-top: -1.5rem;
	width: 270px;
}

/* ----- index -----*/

.indexWrapper {
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: 1070px;
	margin-left: auto;
	margin-right: auto;
}

.indexCardTitle {
	font-size: 3em;
	font-weight: 700;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
}

.CardWrapper {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;

	position: relative;
	text-align: left;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.card {
	flex-grow: 1;
	height: 564px;
	background-image: url('./images/image_one.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1rem;
}

.card-title {
	font-size: 2em;
	font-weight: 700;
	position: absolute;
	bottom: 70px;
	left: 16px;
}

.card-text {
	font-size: 1.2em;
	min-width: 150px;
	max-width: 280px;
	position: absolute;
	bottom: 2px;
	left: 16px;
}

.card button {
	width: 10rem;
	height: 3rem;
	background-color: #495464;
	color: #eee;
	border: #eee;
	position: absolute;
	bottom: 14px;
	right: 16px;
}

.card button:hover {
	background-color: #eee;
	color: #181818;
}

/* ----- InfoBoxes -----*/

.InfoBox {
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	display: flex;

	margin-bottom: 10rem;
}

.InfoBoxTextWrapper {
	margin-right: 2rem;
	margin-top: 2rem;
}
.InfoBoxTitle {
	font-size: 24px;
	font-weight: 700;
}

.InfoBoxText {
	width: 500px;
	font-size: 16px;
}

.InfoBoxImage {
	margin-left: 1rem;
	width: 50%;
	height: 300px;
}

.InfoBoxListImage {
	margin-right: 0rem;
	width: 50%;
	height: 300px;
}

.InfoBoxImpact {
	margin-left: 2rem;
	font-weight: 700;
	font-size: 24px;
}

.InfoBoxImpactList {
	margin-left: 2rem;
	margin-top: 1rem;
}

.InfoBoxImpactList li {
	list-style: none;
	display: flex;
	line-height: 4rem;
}

.InfoBoxImpactList li h4 {
	padding-right: 10px;
	font-size: 20px;
}

.InfoBoxImpactList li p {
	font-size: 16px;
	line-height: normal;
}

/* ----- Graph -----*/

.App {
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	height: 500px;

	margin-bottom: 10rem;
}
