.form-container {
	padding: 2rem;
	margin-right: auto;
	margin-left: auto;
	background-color: #e8e8e8;
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.15);
	width: 1020px;
	border-radius: 8px;
	margin-top: 5rem;
	margin-bottom: 10rem;
}

.rowContainer {
	display: flex;
}

.form-label {
	font-weight: bold;
}

#formBasicEmail {
	background-color: #bbbfca;
	color: #222831 !important;
}
#formBasicLastname {
	background-color: #bbbfca;
	color: #222831;
}
#formBasicTelephone {
	background-color: #bbbfca;
	color: #222831;
}
#formBasicTelephoneRepeat {
	background-color: #bbbfca;
	color: #222831;
}
#formBasicEmail {
	background-color: #bbbfca;
	color: #222831;
}
#formBasicEmailRepeat {
	background-color: #bbbfca;
	color: #222831;
}

#dropdown-basic-button {
	background-color: #bbbfca;
	border-style: none;
	color: #222831;
	width: 210px;
	margin-left: 1rem;
	margin-right: 1rem;
}

#pickDate {
	margin-right: 14.5rem;
}

#newsUpdate {
	font-weight: normal;
}

.form-label {
	font-weight: normal;
}

#stepThree {
	margin-top: 2em;
}

#pickSubject {
	margin-top: 1em;
}
#pickSubject2 {
	margin-left: 1rem;
}

#formImg {
	width: 480px;
	height: 380px;
	border-radius: 8px;
	margin: 2rem;
}

.continue {
	width: 10rem;
	height: 3rem;
	background-color: #495464;
	color: #eee;
	position: absolute;
	border: 1px solid #181818;
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}

.continue:hover {
	background-color: #eee;
	color: #181818;
	border-color: #181818;
}

.mb-3 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.formIntro h1 {
	margin-bottom: 2rem;
}

.flexCol {
	display: flex;
}
