@media only screen and (max-width: 1000px) {
	.nav-item {
		position: fixed;
		left: 0;
		bottom: 0;
		overflow: hidden;
		width: 100%;
		z-index: 1;
	}

	.nav-item ul {
		width: 100%;
	}

	.nav-item li {
		background-color: #e8e8e8;
		height: 80px;
		width: 180px;
		border: 1px solid #181818;
		display: block;
		margin: 0;
		overflow: hidden;
	}

	.nav-link {
		text-align: center;
		margin-top: 22px;
	}

	.customBTN {
		margin-bottom: 10rem;
	}
}

@media only screen and (min-width: 1000px) {
	.hidden {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.show {
		display: none;
	}

	.InfoBox {
		margin-top: 10rem;
	}

	.InfoBox img {
		width: 320px;
		height: 250px;
		margin-left: 2rem;
	}

	.InfoBoxTextWrapper li h4,
	.InfoBoxTextWrapper h3 {
		font-size: 18px;
		font-weight: 600;
	}

	.InfoBoxTextWrapper,
	.InfoBoxTextWrapper {
		margin-left: 2rem;
	}
	.customBTN h1 {
		margin-top: 10rem;
		margin-left: 1rem;
	}

	.indexCardTitle {
		font-size: 2em;
		margin-left: 1rem;
	}

	.CardWrapper {
		width: 400px;
	}

	.card {
		width: 385px;
		height: 400px;
	}

	.cardImg {
		width: 382px;
		height: 398px;
	}

	.card-title {
		bottom: 70px;
	}

	.card-text {
		font-size: 1.1em;
		max-width: 230px;
	}

	.Graph {
		width: 700px;
		height: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	.compareBars {
		overflow: hidden;
	}

	.barBox {
		text-align: end;
		margin-right: -1rem;
	}

	.btnWrapper {
		margin-top: 10rem;
		margin-bottom: -10rem;
		margin-left: 2rem;
	}
}

/*
  Enbart för att göra övergångar snyggare.
  Kanske borde skriva om till mer flexibla värden men svårt med bild då den blir stretchad?
*/
@media only screen and (max-width: 1100px) {
	.CardWrapper {
		width: 400px;
	}

	.card {
		width: 385px;
		height: 400px;
	}

	.CardWrapper {
		width: 400px;
	}

	.cardImg {
		width: 382px;
		height: 398px;
	}
}
