@media only screen and (max-width: 1000px) {
	.nav-item {
		position: fixed;
		left: 0;
		bottom: 0;
		overflow: hidden;
		width: 100%;
		z-index: 1;
	}

	.nav-item ul {
		width: 100%;
	}

	.nav-item li {
		background-color: #e8e8e8;
		height: 80px;
		width: 180px;
		border: 1px solid #181818;
		display: block;
		margin: 0;
		overflow: hidden;
	}

	.nav-link {
		text-align: center;
		margin-top: 22px;
	}

	.customBTN {
		margin-bottom: 10rem;
	}
}

@media only screen and (min-width: 1000px) {
	.hidden {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.show {
		display: none;
	}

	.InfoBox {
		margin-top: 10rem;
	}

	.customBTN h1 {
		margin-top: 10rem;
	}

	.indexCardTitle {
		padding-top: 5rem;
		font-size: 2.5em;
	}

	.CardWrapper {
		width: 400px;
	}

	.card {
		width: 385px;
		height: 400px;
	}

	.cardImg {
		width: 382px;
		height: 398px;
	}

	.card-title {
		bottom: 70px;
	}

	.card-text {
		font-size: 1.1em;
		max-width: 230px;
	}
}
